



header, p{
    color: green;
}

.text{
    color: teal;
}

#unico{
    color: yellowgreen;
}

a{
    color:aquamarine;
    text-decoration: none;
}

.title-red{
    color: red;
}

.nice-font{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

@font-face{
    font-family: "mi  fuente";
    src: url(RUTA DEL ARCHIVO);
    font-weight: 900;
}

.b-paragraph{
    line-height: 5.3;
    /* interlineado para los parrafitos */
}

.box{

    color: green;
    background-color: white;
    margin: 1% 1% 1% 1%;
    border: 5px solid green;
    padding: 1% 1% 1% 1%;
    font-weight: bold;
    font-family: Arial;
    /* EN ESTE ORDEN!! */
    /* margin-left: 73px */
    /* border-left: 1px solid green*/
    /* top bottom left right */
}

element.style{
    display: block;
    /* no acepta width ni heigth */
    display: inline;
    display: inline-block;
    display: none;
     /* lo oculta */

    
    /*  */
   
    width: 240px;
    /* si acepta width and height */

}

.d-flex{
    display: flex;
}

.justify-content-end{
    /* justify-content: space-between; */
    justify-content: center;
    /* center flex-end flex-start(default) space-between space-betweed space-around */
}

.button-background{
    color: white;
    background-color: teal;
    border: 10px solid black;
    margin: 1% 1% 1% 1%;
    
    padding: 1% 1% 1% 1%;
    font-weight: bold;
    font-family: Arial;
}

.align-items-center{
    align-items: center;
    /* flex-end */

}

/* align items y justify content ES EL WINNER COMBO */
.justify-content-start{
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* center flex-end flex-start(default) space-between space-betweed space-around */
}

.align-items-left{
    align-items: left;
    /* flex-end */

}
.flex-row-reverse{
    flex-direction: column;
    /* flex-direction: column-reverse; */
    
}

.flex-wrap{
    flex-wrap: wrap;
}
.width{
    calc(25%-2%)
    /* la resta es del porcentaje de los margenes */
}

.element-style-flex-grow{
    flex-grow: 1;
    flex-shrink: 1;
    
}