.adjust{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 21px;
    
    font-family: Arial;
}

.display-flex{
    display: flex;
    align-items: center;

}

.width{
    max-width: 5%;
}

.align-center{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 30px;
}

.align-left{

    align-items: left;
    margin-left: 100px;
    margin-right: 100px;
    
 
}

.padding{
    padding: 10px;
}

.margin {
    display: inline-flex;
    margin-top:  30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.margin-left{
    display:inline-block;
    margin-left: 150px;
}

.align-items-left{
    display:flex;
    align-items: left;
}

.boxer{
    background-color: white;
    border-bottom: 1px black;

}

.align-right{
    display: flex;
    align-items: right;
}
.margin-left-extreme{
    align-items: right;
    
    margin-left: 1000px;
}

.bar-menu{
    display: inline;
    padding: 1px;
}

.boxer-two{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
    color: black;
    background-color: rgba(0, 0, 0, 0.205);
    border-bottom: 1px white;

}
.barra-menu{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    color: black;
    background-color: rgba(0, 0, 0, 0.205);
    

}














.box{
    align-items: center;
    color: black;
    background-color: rgba(241, 235, 235, 0.493);
    padding: 1%;
    
    
    /* EN ESTE ORDEN!! */
    /* margin-left: 73px */
    /* border-left: 1px solid green*/
    /* top bottom left right */
}


.body-margin{
    margin: 2%;
}

.box-three{
    display: flex;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    padding: 1%;
    margin-left: 30%;
}

.box-four{
    align-items: center;
    width: 200px;
    height: 50px;
    display: flex;
    color: black;
    background-color: whitesmoke;
    padding: 2%;
    
}
.box-five{
    display: inline;
    
    align-items: center;
    color: black;
    background-color: rgba(231, 220, 220, 0.247);
    
    
}